<div class="nav-side-menu">
    <div class="brand">io::dash<!--<img src="/static/logo.png" style="width:32px; margin: 13px;">--></div>
    <i class="glyphicon glyphicon-menu-hamburger toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <a href="/">
                <li class="{{#pageDashboard}}active{{/pageDashboard}}">
                <i class="ti-dashboard"></i>Dashboard
                </li>
                </a>
                <a href="/clients">
                <li class="{{#pageClients}}active{{/pageClients}}">
                <i class="ti-signal"></i>Clients
                </li>
                </a>
                <a href="/phone">
                <li class="{{#pagePhone}}active{{/pagePhone}}">
                <i class="ti-headphone-alt"></i>Phone
                </li>
                </a>
                <a href="/hooks">
                <li class="{{#pageHooks}}active{{/pageHooks}}">
                <i class="ti-link"></i>Webhooks
                </li>
                </a>
                <a href="/status">
                <li class="{{#pageStatus}}active{{/pageStatus}}">
                <i class="ti-link"></i>Status
                </li>
                </a>
              <!--<a href="#">
                <li  data-toggle="collapse" data-target="#products" class="{{^pageHooks}}collapsed{{/pageHooks}} {{#pageHooks}}active{{/pageHooks}}">
                  <i class="ti-link"></i>Webhooks <span class="arrow"></span>
                </li>
                </a>
                <ul class="sub-menu {{^pageHooks}}collapse{{/pageHooks}}" id="products">
                    <a href="/hooks"><li class="{{#pageHooksConfiguration}}active{{/pageHooksConfiguration}}">Configuration</li></a>
                    <a href="/hooks/multi"><li class="{{#pageHooksMultipush}}active{{/pageHooksMultipush}}">Multipush</li></a>
                </ul>
              -->
                <a href="/login">
                <li class="{{#pageLogin}}active{{/pageLogin}}">
                <i class="ti-power-off text-danger"></i>Logout
                </li>
                </a>
            </ul>
    </div>
    <div class="menu-userinfo">
        <img src="https://www.gravatar.com/avatar/{{user.gravatar}}" class="img-circle">{{user.firstname}} {{user.lastname}}<br>
    </div>
</div>
